.homeblock {
  margin-bottom: 47%;
  &__homeimg {
    position: absolute;
    z-index: 0;
    width: 100%;
  }
  &__shopbtn {
    font-size: 16px;
    position: absolute;
    margin-left: 80%;
    margin-top: 40%;
    z-index: 1;
    border: 2px solid gray;
    padding: 8px;
  }
  a.visited,
  a {
    color: black;
  }
  a:hover {
    color: #00c8c8;
    text-decoration: none;
    border-color: #00c8c8;
  }
}
.midnavBlock {
  position: relative;
  text-transform: uppercase;
  font-family: $montsFont;
  opacity: 80%;
  margin-bottom: 15px;
}
.productBox {
  &__Item {
    &:hover {
      -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
      -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
      box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
    }
  }
  &__sImg {
    width: 100%;
  }
  &__bImg {
    width: 100%;
  }
}
.full {
  margin: 0 auto;
  width: 100%;
}
hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: lightgray;
  color: lightgray;
}
.lookbook {
  background-color: #f8f8f8;
  color: #575153;
  height: 350px;
  text-align: right;
  img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: bottom;
    border: 0;
  }
  &__hl {
    text-transform: uppercase;
    font-size: 48px;
    &--bold {
      font-weight: bold;
    }
  }
  &__btn {
    display: inline-block;
    text-align: center !important;
    text-transform: uppercase;
    border: 2px solid #575153;
    padding: 15px 35px 15px 35px;
    font-size: 16px;
    font-weight: bold;
    &:hover {
      background: #00c8c8;
      color: white;
      border-color: #00c8c8;
    }
  }
}
